<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <img class="HPlogo" src="/assets/HuffPostLogo.svg">
    <h1 class="display-4">The Scraped Edition</h1><br>
  </div>
</div>
